version: "3.9"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile

    container_name: react-docker-frontend

    ports:
      - "80:5173"

    restart: unless-stopped

    command: npm run dev
